<!--begin::Signin-->
<div class="login-form login-signin" style="width: 325px">
  <div class="text-center mb-10 mb-lg-20">
    <h3 class="font-size-h1">Sign In</h3>
    <p class="text-muted font-weight-bold">Enter your username and password</p>
  </div>
  <!--begin::Form-->
  <form class="form" [formGroup]="userLoginForm" (ngSubmit)="login()">
    <div class="form-group">
      <input
        class="form-control form-control-solid h-auto py-5 px-6"
        type="text"
        placeholder="Username"
        formControlName="userName"
        autofocus
      />
    </div>
    <div class="form-group">
      <input
        class="form-control form-control-solid h-auto py-5 px-6"
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <!--begin::Action-->
    <div
      class="form-group d-flex flex-wrap justify-content-between align-items-center"
    >
      <!-- <a
        href="javascript:;"
        class="text-dark-50 text-hover-primary my-3 mr-2"
        id="kt_login_forgot"
        [routerLink]="['auth/forgotpassword']"
        >Forgot Password ?</a
      > -->
      <button
        type="submit"
        class="btn btn-primary font-weight-bold px-9 py-4 my-3"
        style="width: 100%"
        [disabled]="userLoginForm.invalid"
      >
        Sign In
      </button>
    </div>
    <!--end::Action-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signin-->
