<div class="form p-0" id="form">
  <span class="font-weight-bolder text-dark" style="font-size: 20px;
    margin-bottom: 20px;
    display: block;">Delete Category</span>
    <div class="mt-2 rounded p-5 bg-light-success text-dark-50 font-weight-bold font-size-lg text-left max-w-400px">Do you really want to delete this category?</div>
 <div class="card-footer p-0" >
  <button type="reset" class="btn btn-primary mr-2" style="display:inline-block;width:48%;margin-bottom:15px;margin-top:15px;" (click)="delete()">Delete</button>
  <button type="reset" class="btn btn-secondary"style="display:inline-block;width:48%;" (click)="onNoClick()">Cancel</button>
 </div>
</div>

