<div class="col-12">
  <!--begin::Advance Table Widget 2-->
  <div class="card card-custom card-stretch gutter-b">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        	<span class="card-label font-weight-bolder text-dark">Room Status</span>
        <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
      </h3>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-2 pb-20 mt-n3">
      <div class="tab-content mt-5" id="myTabTables11">
        <div class="container">
          <ng-lottie *ngIf="user.roomsCount === undefined"  height="500" width="500" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
          <div class="row">
              <div class="col-2 tables" *ngFor="let rooms of numbers;let i = index">
                  <button type="button" class="btn" class="{{check(i)}}" (click)="allot(i)">{{i+1}}</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!--end::Body-->
  </div>
  <!--end::Advance Table Widget 2-->
</div>

