<div class="col-12 order-2 order-xxl-1">
    <!--begin::Advance Table Widget 2-->
    <div class="card card-custom gutter-b example example-compact">
      <!--begin::Header-->
      <div class="card-header">
        <h3 class="card-title">
          <span class="card-label font-weight-bolder text-dark">Categories & Items</span>
          <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
        </h3>
        <div class="card-toolbar">
          <button type="button" (click)="createOffer()" class="btn btn-primary font-weight-bolder"
            style="margin-right: 15px">
            <i class="la la-arrows-alt"></i>Create Offer
          </button>
        </div>
      </div>
  
      <!--end::Header-->
      <!--begin::Body-->
      <div class="card-body pt-2 pb-20 mt-n3 nell">
        <div class="tab-content mt-5" id="myTabTables11">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" *ngFor="let offer of offers">
              <div class="card" style=" background-size: cover;background-repeat: no-repeat;"
                [ngStyle]="{ 'background-image': 'url(' + offer.image + ')' }" *ngIf="offer.image !== undefined">
                <button (click)="editOffer(offer)" class="del btn btn-warn" style="position: absolute;
      top: 0px;
      right: 40px;
      height: 40px;
      width: 40px;
      color: #fff;
      padding: 10px;
      z-index: 10;"><i class="fas fa-pen"></i></button>
                <button (click)="deleteOffer(offer)" class="del btn btn-warn" style="position: absolute;
      top: 0px;
      right: 0px;
      height: 40px;
      width: 40px;
      color: #fff;
      padding: 10px;
      z-index: 10;"><i class="fas fa-trash"></i></button>
                <div (click)="toggle(offer)" class="overlay" style="
                    transition: 1s;
                    background-color: black;
                    opacity: 0.8;
                    height: 100%;
                    width: 100%;
                    z-index:5;
                  ">
                  <span style="
                      color: #fff;
                      font-weight: 600;
                      font-size: 25px;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                    ">{{ offer.name }}<br><br><i class="fas fa-rupee"></i>{{offer.price}}</span>
  
                </div>
              </div>
              <div class="card"
                style=" background-size: cover;background-repeat: no-repeat;background-image:url('../../../assets/media/category.png');"
                *ngIf="offer.image === undefined">
                <button (click)="editOffer(offer)" class="del btn btn-warn" style="position: absolute;
      top: 0px;
      right: 40px;
      height: 40px;
      width: 40px;
      color: #fff;
      padding: 10px;
      z-index: 10;"><i class="fas fa-pen"></i></button>
                <button (click)="deleteOffer(offer)" class="del btn btn-warn" style="position: absolute;
      top: 0px;
      right: 0px;
      height: 40px;
      width: 40px;
      color: #fff;
      padding: 10px;
      z-index: 10;"><i class="fas fa-trash"></i></button>
                <div (click)="toggle(offer)" class="overlay" style="
                    transition: 1s;
                    background-color: black;
                    opacity: 0.8;
                    height: 100%;
                    width: 100%;
                    z-index:5;
                  ">
                  <span style="
                      color: #fff;
                      font-weight: 600;
                      font-size: 25px;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                    ">{{ offer.name }}</span>
  
                </div>
              </div>
            </div>
            <ng-lottie *ngIf="offers.length == 0" height="100%" width="100%" [options]="options2"
              (animationCreated)="animationCreated($event)" style="width:100%"></ng-lottie>
          </div>
        </div>
      </div>
    </div>
  </div>