#kt_aside_menu_wrapper, #kt_quick_user{
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden !important;
}
#kt_aside_menu_wrapper::-webkit-scrollbar {
  width: 5px;
}

#kt_aside_menu_wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

#kt_aside_menu_wrapper::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
#kt_quick_user::-webkit-scrollbar {
  width: 5px;
}

#kt_quick_user::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

#kt_quick_user::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.active{
  background: rgba(77, 89, 149, 0.06) !important;
}
.aside-fix{
  width:70px;
}
.show{
  width:265px;
}
.hide{
  width:70px;
}
.showbrand{
  display: flex;
}
.hidebrand{
  display:none;
}
.display{
  display:flex !important;
}
.none{
  display:none !important;
}